footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

body {
  min-height: 100vh;
  /* Esto asegura que el cuerpo de la página tenga al menos el 100% del viewport height */
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
}